{% extends "base.html" %}


{% block content %}
    <h2 class="person"><a target="_blank" title="Learn More on {{ person }}'s Wikipedia Page" href="{{ person.wiki }}">{{ person }}</a></h2>

    {% if quotes %}
        <ul>
        {% for quote in quotes %}
            <li class="quote"><a  href="{% url 'quote_detail' quote.person.id quote.id %}">{{ quote.quote_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No quotes are available.</p>
    {% endif %}

{% endblock content %}
